/*
 * Copyright (c) 2022 Daytona123
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    flavor = "hold-preferred";
    tapping_term_ms = <200>;
    quick_tap_ms = <0>;
			};

/ { 

    combos {
        compatible = "zmk,combos";
        
        combo_num {
            timeout-ms = <50>;
            key-positions = <0 3 6 9>;
            bindings = <&tog 9>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <0 1 2 3>;
            bindings = <&kp TAB>;
        };

        combo_ent {
            timeout-ms = <50>;
            key-positions = <6 7 8 9>;
            bindings = <&kp ENT>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";
        
        layer0 {
            bindings = <
                &lt 1 A &lt 2 S &lt 3 E &lt 4 T &kp SPC &kp LSFT &lt 5 N &lt 6 I &lt 7 O &lt 8 P 
	        >;
        };

        layer1 {
            bindings = <
            &trans &kp W &kp X &kp F &trans &trans &kp Q &kp Z &kp LBKT &kp FSLH
            
            >;
        };

        layer2 {
            bindings = <
                &kp W &trans &kp D &kp C &trans &trans &kp J &kp K &kp DOT &kp RBKT 
	        >;
        };

        layer3 {
            bindings = <
                &kp X &kp D &trans &kp R &trans &trans &kp Y &kp COMMA &kp MINUS &kp SQT 
	        >;
        };

        layer4 {
            bindings = <
                &kp F &kp C &kp R &trans &trans &trans &kp B &kp V &kp G &kp BSPC 
	        >;
        };

        layer5 {
            bindings = <
                &kp Q &kp S &kp E &kp B &trans &trans &trans &kp H &kp U &kp M 
	        >;
        };

        layer6 {
            bindings = <
                &kp Z &kp K &kp COMMA &kp V &trans &trans &kp H &trans &kp L &kp EXCL 
	        >;
        };

        layer7 {
            bindings = <
                &kp LBKT &kp DOT &kp  &kp T &trans &trans &kp N &kp I &trans &kp SEMI 
	        >;
        };

        layer8 {
            bindings = <
                &kp FLSH &kp RBKT &kp SQT &kp BSPC &trans &trans &kp M &kp EXCL &kp SEMI &trans
	        >;
        };

        layer9 {
            bindings = <
                &kp 1 &kp 2 &kp 3 &kp 4 &kp 5 &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 
	        >;
        };
    };
};